body,
button,
input,
select,
textarea {
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.label {
  margin: 15px 0;
  line-height: 1.6;
  span {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 1000px;
    background: #d50813;
    color: white;
    font-weight: bold;
  }
}

button {
  background: #098191;
  transition: background ease 0.25s;
  border-radius: 5px;
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover {
  background: #63b6b8;
}
button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

fieldset {
  border: 1px solid #ddd;
}

.ghost {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background: white;
  border: 1px solid #555;
  color: black;
}
.ghost:hover {
  background: #eee;
}

.primary {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

input[type="number"] {
  width: 50px;
  margin-right: 10px;
}

.quantity {
  display: flex;
  margin: 20px 0 40px;
}

fieldset {
  margin: 20px 0;
}
